.flashbox
.wrapper
  = render 'shared/side_bar'
.chat-main
  .main-header
    .main-header__box
      .main-header__box__group
        %p group
        %p
      .main-header__box__member
        %p member
    .main-header__edit
      %p EDIT
  .messages
    .message
      .message__name
        %p name
      .message__text
        %p text
  .form
    %form.new_message{action: "#", method: ""}
      .input-box
        %input.input_new_message{name: "", placeholder: "type", type: "text"}/
        %label.new_image{for: "message_image"}
          %i.fa.fa-image
          %input#message_image{name: "", type: "file"}/
      %a.button01{href: "#"} Send


