.chat-side{
  background-color: #2F3E51;
  width: 300px;
  height: 100%;
  position: fixed;
    a {
      color: white;
      text-decoration: none;
    }
}

.side-header {
  float:left;
  height: 100px;
  width: 100%;
  background-color: #253141;
  display: flex;
    &__box {
      padding: 40px 20px;
      width: 260px;
      font-weight: bold;
      color: white;
      justify-content: space-between;
      display: flex;
        &__menu{
          display: inline-flex;
          li{
            margin-left: 0.3rem;
          }
        }
    }
}


.groups{
  height: calc(100vh - 100px);
  padding: 20px 20px 0;
  margin-top: 100px;
}

.group{
  color: white;
  &__name{
    margin-bottom: 5px;
    font-size: 15px;
  }
  &__message{
  font-size: 11px;
  margin-bottom: 40px;
  }
}


